<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>

<body class="{{body_class}}">
    <div class="gh-viewport">

        <header>
            <nav>
                <div class="mb">
                    <a class="gh-head-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}" />
                        {{else}}
                        <div class="header-wrapper">
                            <div class="header-title">
                                {{@site.title}}
                            </div>
                            <div class="header-subtitle">
                                {{@site.description}}
                            </div>
                        </div>
                        {{/if}}
                    </a>

                    <div class="mb-wrapper">
                        {{navigation}}
                        <div class="mb-contact-wrapper"><a class="mb-contact" href="mailto:jacksonhvisuals@gmail.com">Contact</a></div>
                    </div>
                </div>
            </nav>
        </header>

        <main class="gh-main">

            {{{body}}}
            {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

        </main>

        <footer class="gh-foot">
            <div class="gh-container">
                <div class="gh-foot-menu">
                    {{navigation type="secondary"}}
                </div>
                <div class="gh-foot-meta">
                    Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
                </div>
            </div>
        </footer>

    </div>

    {{!-- <foot> --}}
    {{ghost_foot}}
    {{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>

</html>